# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Generating Randomness/*
!/Generating Randomness/task/
/Generating Randomness/task/*
!/Generating Randomness/task/predictor
